.pageContainer {
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggingOutMessage {
    color: var(--dark-grey);
    font-family: var(--primary-font);
    margin: 50px;
    font-size: 3em;
    text-shadow: var(--text-shadow);
    text-align: center;
}

.wavingPicture {
    max-width: 35vh;
}
