.pageContainer {
    min-height: calc(100vh - 60px);
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.winnerText {
    font-family: 'Questrial', sans-serif;
    padding: 40px;
    letter-spacing: 3px;
    font-size: 60px;
    text-shadow: 5px 7px #2c2c2c;
    font-weight: 20;
}

/* ------------------------------------------------------------- */

.podium_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

.banner {
    position: relative;
}

/* -------------------------THIRD PLACE------------------------- */

.podium_stand3 {
    width: 150px;
    height: 170px;
}

.thirdPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}

.positionNum3 {
    position: absolute;
    left: 58px;
    bottom: 35px;
    font-weight: small;
    font-size: 70px;
    text-align: center;
    color: white;
}

/* -------------------------SECOND PLACE------------------------- */

.podium_stand2 {
    width: 150px;
    height: 200px;
}

.secondPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 9px;
}

.positionNum2 {
    position: absolute;
    left: 58px;
    bottom: 48px;
    font-weight: small;
    font-size: 70px;
    text-align: center;
    color: white;
}

/* -------------------------FIRST PLACE------------------------- */

.podium_stand1 {
    width: 150px;
    height: 230px;
}

.fistPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
}

.positionNum1 {
    position: absolute;
    left: 55px;
    bottom: 55px;
    font-weight: small;
    font-size: 75px;
    text-align: center;
    color: white;
}

.crown {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 60px;
    bottom: 350px;
    transform: rotate(23deg);
    /* animation-name: crown-bobbing; */
    animation-name: crown-falling;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
/* 
@keyframes crown-bobbing {
    0% {
        transform: scale(1) rotate(23deg);
        bottom: 500px;
    }
    50% {
        transform: scale(1.1) rotate(23deg);
        bottom: 400px;
    }
    100% {
        transform: scale(1) rotate(23deg);
        bottom: 350px;
    }
} */

@keyframes crown-falling {
    0% {
        bottom: 500px;
    }

    100% {
        bottom: 350px;
    }
}

.podiumTitle {
    font-family: var(--primary-font);
    font-weight: 100;
    font-size: 60px;
    color: white;
    text-shadow: var(--text-shadow);
    margin: 40px;
    letter-spacing: 0.2rem;
    text-align: center;
    animation-name: podiumTitle;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes podiumTitle {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}
