.countdown {
    background-color: #139547;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border: 10px white solid;
}

.pageContainer {
    display: flex;
    height: 99vh;
    width: 99vw;
    align-items: center;
    justify-content: center;
}
