.enter-fact-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

textarea {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Questrial';
    height: 100px;
    width: 410px;
    margin-top: 10px;
    background-color: #454b82;
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 13px 18px 20px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 26px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 100px;
    margin-top: 0;
    width: 600px;
    animation: transitionIn 0.75s;
    animation-timing-function: ease-in-out;
}

h2 {
    margin-top: 20px;
    font-family: 'Questrial';
    font-weight: 100;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 4px rbga(f, f, f, 0.25);
    text-align: left;
}

.EnterFact-Page-container {
    /* margin: 10%; */
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Questrial';
    font-weight: 100;
    font-size: 60px;
    color: white;
}

.falseInputandBtn {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}

.lobbby-container {
    height: 75vh;
    border-radius: 28px;
    background-color: #6d44d9;
    text-align: center;
    width: 75%;
    position: relative;
    left: 760px;
    bottom: 560px;
    box-shadow: 13px 18px 20px rgba(0, 0, 0, 0.25);
}

.lob-title-container {
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 60px;
}

.lobby-name-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

img {
    width: 40px;
    height: 40px;
}

p {
    font-family: 'Questrial';
    color: white;
    font-size: 24px;
    line-height: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translate(-100px, 0px);
    }
    to {
        opacity: 1;
        tranform: translate(0px, 0px);
    }
}
