body {
    background-color: #2e345c;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.podium_container {
    animation: transitionIn 0.8s;
    animation-timing-function: ease-in-out;
}

.score_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

.thirdPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.profilePic {
    height: 130px;
    width: 130px;
}

.podium_stand3 {
    width: 130px;
    height: 125px;
}

.banner {
    position: relative;
}

.positionNum3 {
    position: absolute;
    left: 54px;
    bottom: 35px;
    text-align: center;
    color: white;
}

.secondPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.podium_stand2 {
    width: 130px;
    height: 160px;
}

.positionNum1 {
    position: absolute;
    left: 54px;
    bottom: 75px;
    text-align: center;
    color: white;
}

.fistPlace_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.podium_stand1 {
    width: 130px;
    height: 195px;
}

.positionNum2 {
    position: absolute;
    left: 54px;
    bottom: 55px;
    text-align: center;
    color: white;
}

.winnerName {
    text-align: center;
    margin: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.exitBtn {
    width: 220px;
    height: 50px;
    margin: auto;
    border-radius: 45px;
    font-family: 'Questrial';
    font-size: 24px;
    line-height: 2;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #d99444;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.pageTitle {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 50px;
    background-color: #d99444;
    padding: 30px;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Questrial';
}

.top3name {
    text-align: center;
    font-family: 'Questrial';
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.leaderTable {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.tableHeadingsRow {
    background-color: #d99444;
    padding: 20px;
    height: 30px;
    font-size: 28px;
}

.tableHeading {
    padding: 10px;
    color: white;
}

.tableRow {
    border: 1px black solid;
}
.tableData {
    font-size: 25px;
    padding: 5px;
}

.leaderboardHeading {
    background-color: #6d44d9;
    padding: 30px;
    border-radius: 10px;
    color: #d99444;
    margin-top: 80px;
}
