@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.button_container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    top: 35%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family: 'Questrial';
    font-weight: lighter;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: capitalize;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-family: Sen;
    font-size: 40px;
    margin-top: 2%;
    padding: 1em 2em 0.5em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;
}

.underline {
    background-color: #7b7b7b;
    height: 0.5vh;
    width: 3vw;
    margin: auto;
    border-radius: 45px;
}

.text_container {
    margin: 5% 20%;
}
