.home_container {
    margin-top: 10vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text_container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    z-index: 10;
    margin-bottom: 50px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: left;
    justify-content: left;
    font-size: 5vw;
}

.intro_section {
    font-family: var(--primary-font);
    font-weight: lighter;
    display: flex;
    color: var(--grey);
    text-align: justify;
    align-items: left;
    line-height: 4vh;
    margin-top: 1.5vh;
    /* margin-bottom: 5vh; */
    margin-left: 0.6vw;
}

.homeImg {
    width: 42vw;
    height: 30vw;
    /* width: auto;
    height: auto; */
    z-index: 1;
    /* margin-top: 5vh; */
    margin-right: 6vw;
    margin-left: 30px;
}

.button_container {
    margin-top: 4vh;
}

/* @media only screen and (max-width: 1000px) {
    .homeImg {
        margin-right: 3vw;
    }
    .title {
        font-size: 50px;
    }
} */

@media only screen and (max-width: 1100px) {
    .homeImg {
        margin-top: 0px;
        width: 50vw;
        height: 35vw;
        margin-right: 0;
        margin-left: 0;
    }
    .home_container {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
    }
    .text_container {
        width: 80vw;
        align-items: center;
    }
    .intro_section {
        align-items: center;
        text-align: center;
        padding: 1vw;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        text-align: center;
        margin-left: 0;
        width: 80vw;
        justify-content: center;
        font-size: 40px;
        line-height: 1.3em;
    }
    .intro_section {
        padding: 2vw;
    }
}
