@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.welcomeText {
    font-family: Sen;
    font-size: 30px;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;
}
