.factDisplay {
    width: 30vw;
    padding: 1rem 1.5rem;
    text-align: center;
    font-family: var(--primary-font);
    border-radius: 2rem;
    background-color: var(--light-purple);
    color: white;
    text-shadow: var(--text-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    letter-spacing: 0.2rem;
}

.factContainer {
    background-color: var(--lightish-purple);
    border-radius: 2rem;
    display: flex;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .factContainer {
        flex-direction: column;
    }
    .factDisplay {
        width: 60vw;
    }
}
