.factContainer {
    width: 30vw;
    height: 20vh;
    padding: 1rem 3rem;
    text-align: center;
    font-family: var(--primary-font);
    border-radius: 2rem;
    overflow: auto;
    background-color: var(--lightish-purple);
    color: white;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 24px;
}
