.pageContainer {
    min-height: calc(100vh - 60px);
    width: 100vw;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 30px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 30px;
}

.createJoinButton {
    background-color: var(--gold);
    border-radius: var(--border-radius);
    padding: var(--padding);
    color: white;
    border: none;
    margin: 30px;
}
