.pageContainer {
    min-height: calc(100vh - 60px);
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepageTitle {
    font-family: var(--primary-font);
    font-weight: 100;
    font-size: 60px;
    color: white;
    text-shadow: var(--text-shadow);
    margin: 40px;
    letter-spacing: 0.2rem;
    text-align: center;
}
