@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.flipCard {
    width: 250px;
    height: 300px;
    background-color: white;
    box-shadow: 8px 8px 13px 3px #b9b7b7;
    padding: 30px;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 10%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.personName {
    font-family: Sen;
    font-weight: lighter;
    font-size: 24px;
    padding-top: 10px;
    margin-top: 15px;
}

.container:hover .flipCard {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardBack {
    font-family: Sen;
    font-weight: lighter;
    padding-top: 10px;
    transform: rotateY(180deg);
}

.cohortInfoContainer {
    text-align: left;
}

.h2 {
    font-size: 20px;
    font-weight: bold;
}
.bio {
    text-align: center;
}
