@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.flipCard {
    width: 350px;
    height: 450px;
    background-color: white;
    box-shadow: 8px 8px 13px 3px #b9b7b7;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cohortImage {
    margin: 2rem;
    border-radius: 100%;
    background-image: linear-gradient(#4a90e2, #31986a);
    max-width: 200px;
    padding: 1rem;
}
.cohortName {
    font-family: Sen;
    font-weight: lighter;
    font-size: 30px;
    padding-top: 10px;
}

.container:hover .flipCard {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardBack {
    font-family: Sen;
    font-weight: lighter;
    padding-top: 10px;
    transform: rotateY(180deg);
}

.cohortInfoContainer {
    text-align: left;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hobbies {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.skills {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
