.Form {
    display: flex;
    flex-direction: column;
}

.FactInput {
    color: white;
}

.CreateGameButton {
    background-color: var(--gold);
}

.CreateGameButton:hover {
    background-color: var(--gold);
}
