.Form {
    display: flex;
    flex-direction: column;
}

.FactInput {
    color: white;
}

.createGameButton {
    background-color: var(--gold);
    color: white;
}

.createGameButton:hover {
    background-color: var(--gold);
}
