@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.welcomeText {
    font-family: Sen;
    font-size: 30px;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* needs changing to #7B7B7B (is black so we can see the text on storybook) */
}
