.pageContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleImageContainer {
    display: flex;
    width: 90vw;
    align-items: center;
}

.title {
    width: 45vw;
    margin-left: 5vw;
}

.pageImage {
    max-width: 40vw;
    margin-right: 5vw;
}

.flipCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 80px;
}

@media only screen and (max-width: 910px) {
    .titleImageContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: center;
        /* width: 100vw; */
    }

    .pageImage {
        max-width: 50vw;
        margin-right: 0;
    }
}
