.button1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: lighter;
    border-radius: 2rem;
    background-color: #fe4042;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    border: none;
    outline: none;
    margin: auto;
    transition: 0.3s;
}

.button1:hover {
    background-color: #fe4042;
    opacity: 0.7;
}
