.background_container {
    background-image: url('../../Images_2/game-controller-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 60vh;
}
