.pageContainer {
    min-height: calc(100vh - 60px);
    /* width: 100vw; */
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buttonContainer {
    height: 280px;
    width: 65vw;
    overflow-y: scroll;
    background-color: var(--purple);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nameButton {
    background-color: var(--light-purple);
    border-radius: var(--border-radius);
    color: white;
    font-size: 24px;
    margin: 20px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-shadow: var(--box-shadow);
    letter-spacing: 0.2rem;
}

.nameButton:hover {
    background-color: var(--gold);
    transition: 0.3s;
}

.selectedButton {
    background-color: var(--green);
    border-radius: var(--border-radius);
    color: white;
    font-size: 24px;
    margin: 20px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-shadow: var(--box-shadow);
    letter-spacing: 0.2rem;
    transition: 0.3s;
}
