.pageContainer {
    min-height: calc(100vh - 60px);
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buttonContainer {
    max-width: 60vw;
    background-color: var(--purple);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.nameButton {
    background-color: var(--gold);
    border-radius: var(--border-radius);
    color: white;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    height: 50px;
    border: none;
    box-shadow: var(--box-shadow);
    letter-spacing: 0.2rem;
    text-align: center;
}

.nameButton:hover {
    background-color: var(--light-purple);
    transition: 0.3s;
}

.selectedButton {
    background-color: var(--green);
    border-radius: var(--border-radius);
    color: white;
    font-size: 24px;
    margin: 20px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border: none;
    box-shadow: var(--box-shadow);
    letter-spacing: 0.2rem;
    transition: 0.3s;
}
