.headerContainer {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10vh;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bannerImage {
    /* height: auto;
    width: auto; */
    float: left;
    display: flex;
    width: 40vw;
    height: 25vw;
    z-index: 10;
    margin-top: 5vh;
    margin-right: 30px;
    /* margin-left: 3px; */
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    z-index: 10;
}

.pageBio {
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 16px;
    display: flex;
    /* align-items: left; */
    color: var(--grey);
    line-height: 4vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: justify;
}

.title {
    margin: 0;
    font-size: 5vw;
}

/* ----------------------------------------------------- */

.showCaseContainer {
    margin-top: 10vh;
    margin-left: 4vw;
    margin-right: 3vw;
    margin-bottom: 0px;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textShowCaseContainer {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    z-index: 10;
}

.button_container {
    margin-top: 4vh;
}

.showCaseImage {
    /* height: auto;
    width: auto; */
    /* max-width: 400px;
    max-height: 400px; */
    width: 25vw;
    height: 25vw;
    /* height: 25vw; */
    float: right;
    display: flex;
    z-index: 1;
    border-radius: 100%;
    margin-left: 10vh;
    margin-right: 10vh;
}

.showCaseBio {
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 16px;
    display: flex;
    align-items: left;
    color: var(--grey);
    line-height: 4vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: justify;
}

/* ----------------------------------------------------- */

.mainContainer {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle {
    font-family: var(--primary-font);
    height: auto;
    float: left;
    display: flex;
    padding-top: 3em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.subTitle:after {
    left: 60%;
    top: 7em;
    bottom: 10px;
    height: 50px;
    width: 120px;
    content: '';
    border-top: 3px solid #ebebeb;
}

.gameCardContainer {
    font-family: var(--primary-font);
    height: auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.gameCardContainer:hover > div:hover {
    opacity: 0.6;
    /* background-image: linear-gradient(to right, #4a90e2), #31986a; */
    transition: 3ms;
}

/* ----------------------------------------------------- */

@media only screen and (max-width: 1000px) {
    .bannerImage {
        margin-right: 3vw;
    }
    .showCaseImage {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 990px) {
    .showCaseImage {
        width: 45vw;
        height: 45vw;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .bannerImage {
        margin-top: 0px;
        margin-right: 0;
        width: 65vw;
        height: 40vw;
        margin-bottom: 50px;
    }

    .title {
        text-align: center;
        margin-left: 0;
        width: 80vw;
        justify-content: center;
        font-size: 40px;
        line-height: 1.3em;
    }

    .textContainer {
        width: 70vw;
        align-items: center;
    }
    .headerContainer {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .mainContainer {
        align-items: center;
    }
    .subTitle {
        width: 80vw;
        align-items: center;
    }
    .pageBio {
        align-items: center;
        text-align: center;
    }
    .showCaseContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .textShowCaseContainer {
        width: 80vw;
        align-items: center;
    }
    .showCaseBio {
        align-items: center;
        text-align: center;
        width: 70vw;
    }
}
