.pageContainer {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    height: auto;
    float: left;
    top: 10%;
    width: 100%;
}

.title {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subTitle {
    height: auto;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTitle:before {
    position: absolute;
    left: 50;
    top: 7em;
    bottom: 1;
    height: 0;
    width: 120px;
    content: '';
    border-top: 3px solid #ebebeb;
}

.gameCardContainer {
    height: auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.gameCardContainer:hover > div:hover {
    opacity: 0.5;
    transition: 2ms;
}
