.button1 {
    width: 18vw;
    height: 8vh;
    padding: 1rem 0rem;
    text-align: center;
    font-family: 'Sen';
    border-radius: 2rem;
    background-color: #fe4042;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    font-size: 2vw;
    border: none;
    outline: none;
    margin: auto;
}
