.create-game-container {
    display: flex;
    position: fixed;
    top: 40%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

h1 {
    font-family: 'Questrial';
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px #888888;
    margin-top: -300px;
    margin-bottom: 100px;
}

body {
    background-color: #2e345c;
}

#filled-basic {
    font-family: 'Questrial';
    font-size: 20px;
    color: white;
    padding: 30px;
}
