.RoundContainer {
    width: fit-content;
    padding: 1rem 3rem;
    font-family: var(--primary-font);
    border-radius: 2rem;
    background-color: var(--light-purple);
    box-shadow: var(--box-shadow);
}

.RoundLabel {
    text-shadow: var(--text-shadow);
}
