.card {
    position: relative;
    width: 310px;
    height: 310px;
    background-color: white;
    box-shadow: 8px 8px 13px 3px #b9b7b7;
    margin: 30px;
}

.gameCard {
    width: 310px;
    height: 310px;
}

.gameImage {
    width: 310px;
    height: 310px;
    filter: brightness(60%);
}

.gameTitle {
    font-family: var(--primary-font);
    color: #ffffff; /* needs changing to #979797 (black for storybook purposes) */
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 38px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
