textarea {
    margin-top: 0.625rem;
    padding: 1.23rem;
    height: 6.25rem;
    width: 25rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 1.625rem;
    text-align: left;
    font-family: var(--primary-font);
    background-color: var(--lightish-purple);
    color: white;
    box-shadow: var(--box-shadow);
}
