.input_box {
    height: 5vh;
    width: fit-content;
    border-radius: var(--border-radius);
    border: 0;
    outline: 0;
    font-size: 14px;
    text-align: center;
    font-family: var(--primary-font);
    padding: 1rem 3rem;
    box-shadow: var(--border-shadow);
    color: white;
    background-color: var(--lightish-purple);
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}
