.pageContainer {
    min-height: calc(100vh - 60px);
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourglassImage {
    width: 10rem;
    margin-top: 50px;
    animation-name: hourglass;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hourglass {
    0% {
        rotate: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
