/* .button1 {
    width: 30vw;
    max-height: 30vh;
    padding: 1rem 3rem;
    text-align: center;
    font-family: 'Sen';
    border-radius: 2rem;
    overflow: auto;
    background-color: #fe4042;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 24px;
    border: none;
} */
