.carouselItem_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    height: 20vh;
    width: 24vw;
    background-color: grey;
    color: #fff;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    margin: 0 15px;
    border: none;
    outline: none;
    font-size: 4em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.5;
}
