@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
.subtitle {
    font-family: Sen;
    font-size: 40px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* needs changing to #7B7B7B (black is so we can see the text on storybook) */
}
