@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
.subtitle {
    font-family: Sen;
    font-size: 40px;
    font-weight: lighter;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #979797; /* needs changing to #7B7B7B (black is so we can see the text on storybook) */
}
