.header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #2e345c;
    align-items: center;
}

.x {
    background-color: #2e345c;
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.x:hover {
    color: var(--gold);
}
