.header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    background-color: #2e345c;
    align-items: center;
}

.burgerMenu {
    margin-top: 20px;
}

/* @media only screen and (max-width: 1300px) {
    .x {
        margin-right: 3vw;
    }
}

@media only screen and (max-width: 1000px) {
    .x {
        margin-right: 4vw;
    }
}
@media only screen and (max-width: 500px) {
    .x {
        margin-right: 5vw;
    }
} */
