.title {
    font-family: var(--primary-font);
    font-weight: lighter;

    font-size: 5vw;
    display: flex;
    color: var(--dark-grey);
    text-transform: capitalize;
    line-height: 6.5vw;
}
