@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.title {
    font-family: Sen;
    font-size: 60px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* needs changing to #FFFFFF (black is so we can see the text on storybook) */
}
