.fact {
    width: 30vw;
    max-height: 30vh;
    padding: 1rem 3rem;
    text-align: center;
    font-family: var(--primary-font);
    border-radius: 2rem;
    overflow: auto;
    background-color: var(--lightish-purple);
    color: white;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 24px;
    border: none;
}

.fact:hover {
    background-color: var(--gold);
    transition: 0.3s;
}

.selectedFact {
    width: 30vw;
    max-height: 30vh;
    padding: 1rem 3rem;
    text-align: center;
    font-family: var(--primary-font);
    border-radius: 2rem;
    overflow: auto;
    background-color: var(--green);
    color: white;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 24px;
    border: none;
    transition: 0.3s;
}

@media only screen and (max-width: 700px) {
    .fact {
        width: 70vw;
    }
    .selectedFact {
        width: 70vw;
    }
}
